.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, rgba(16, 16, 26, 1), rgba(16, 16, 26, 0.8));
    color: white;
}
.animationbox {
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.8);
    }
}
