.chartsContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .allCount{
        width: 650px;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        text-align: center;
        font-weight: bold;
    }
}
.allRangeCount{
    font-size: large;
    font-weight: bold;
}